API_HOST="0.0.0.0"
ALLOWED_ORIGINS="http://localhost:6500"

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=nestjs_db

# JWT Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=

# Application
NODE_ENV=development
PORT=8080
CAMPAIGN_FEE_PERCENTAGE=5

# Payment Integrations
PAYSTACK_SECRET_KEY=

# TERMII - SMS and EMAIL SERVICES
TERMII_API_KEY=
TERMII_SENDER_ID=
TERMII_BASE_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Mailtrap
MAILTRAP_API_TOKEN=
MAILTRAP_SENDER_EMAIL=
MAILTRAP_SENDER_NAME=

# Firebase
FIREBASE_SERVICE_ACCOUNT=